*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
    background-color: rgb(173, 206, 214);
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 25px;
    line-height: 85px;
}
.box {
    margin: 10%;
    border: 8px solid rosybrown;
    padding: 10% 5%;
    scroll-margin-top: 100px;
    border-radius: 2rem;
    position: relative;
    background-color: rgb(173, 206, 214);
    text-align: center;
  }

  .box-text2{
    border: 5px solid rosybrown;
    font-size: 1em;
    padding: 5px 5px;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    position: absolute;
    top: 2%;
    right: 5%;
  }

.Answer {
    border: 5px solid rosybrown;
    font-size: 1em;
    padding: 5px 5px;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    position: absolute;
    left: 40%;
    bottom: 1%;  
}
.box-text1 {
    position: relative;
    margin-top: -0%;
}
h2{
    position: relative;
    margin-top: -10%;
}
nav {
    margin: 25px;
    background: #f9f9f9;
    padding: 16px;
  }
    .menuItems {
      list-style: none;
      display: flex;
    }
      li {
        margin: 50px;
      }
        a {
          text-decoration: none;
          color: #8f8f8f;
          font-size: 20px;
          font-weight: 4000;
          position: relative;
          text-transform: uppercase;
        }
 
  footer {
    position: fixed;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
  }
  
    a {
      text-decoration: none;
      color: inherit;
      border-bottom: 1px solid;
    }
 
  